<head>
    <style type="text/css">
        .style1
        {
            width: 425px;
        }
        .style2
        {
            height: 500px;
            width: 48px;
        }
        #chatbox
        {
            height: 475px;
        }
        #msg
        {
            width: 387px;
        }
        .style4
        {
            width: 449px;
        }
    </style>
</head>
<table>
  <tr>
    <td class="style2">
      <table id="users">
      </table>
    </td>

    <td class="style4">
      <div class="style1" id="chatbox"></div>
    </td>
   <tr/>


    <tr>
    <td></td>
      <td class="style4">
        <input type="text" id="msg"></input> <button id="send">Send!</button>
      </td>
      
    </tr>
</table>






